<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Register</title>
    <meta charset="UTF-8" />
</head>
<body>
<h2>Register</h2>
<form th:action="@{/user/register}" method="post" th:object="${user}">
    <label>Username: 
        <input type="text" th:field="*{username}" required/>
    </label><br><br>

    <label>Password: 
        <input type="password" th:field="*{password}" required/>
    </label><br><br>

    <button type="submit">Register</button>
</form>
</body>
</html>